<a href="https://colab.research.google.com/github/Francisco2209/EstructuraDeDatos1310/blob/main/Ejercicio1_ADTArray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

La carpeta datos es volatil...

In [3]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [7]:
archivo = open( 'junio.dat' , 'rt' , encoding = 'latin-1' )
print( archivo.read() )

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MUOZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [ ]:
class Trabajador:
    def __init__( self , nt , nom , pat , mat , he , sb , ai):
        self.__numero_trabajador = nt 
        #asi para todos los atributos
        self.__nombre = nom
        self.__apellido_paterno = pat
        self.__apellido_materno = mat
        self.__horas_extra = he 
        self.__sueldo_base = sb
        self.__año_de_ingreso
    #aqui van todos los metodos de acceso 
    #(set numero de trabajador, get numero de trabajador )
    def set_numero_trabajador( self, nt):
        self.__numero_trabajador = nt 
    def get_numero_de_trabajador
    
    # metodos de uso general -> metotos que hacen calculos logicos

In [ ]:
class NominaADT:
    def __init__( self , ruta_archivo ):
        #abrir el archivo y determinar en numero de empleados (14) -> num_emp
        self.__data = Array( num_emp )

    def calcular_sueldos( self ):
        #iterar sobre el Array y hacer el calculo de sueldos tomando las dos reglas

    def buscar_mas_antiguo( self ):
        #iterar y buscar en el Array el de mayor de antiguedad

    def buscar_menor_antiguedad( self ):
        #iterar y buscar en el Array el de menor de antiguedad

In [9]:
sueldo_base = 100
anio_ingreso = 2019
antiguedad = 2
prestacion = 100 * (2 * 0.03)
print( sueldo_base + prestacion )

106.0