<a href="https://colab.research.google.com/github/Francisco2209/EstructuraDeDatos1310/blob/main/Ejercicio1_ADTArray.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

La carpeta datos es volatil...

In [1]:
!cat junio.dat

numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, año de ingreso
2345,CARLOS,PEREZ,CASTILLO,0,9850,2017
5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020
5345,JESUS,MARTIN,SANTOS,2,9850,2016
3267,DAVID,JIMENEZ,LOZANO,2,9850,2017
8765,PEDRO,RUIZ,GUERRERO,2,9850,2017
5454,DANIEL,HERNANDEZ,CANO,3,9850,2018
3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018
3445,MARIA,MORENO,MENDEZ,1,9850,2018
9088,ALBERTO,MU�OZ,CRUZ,1,9850,2017
8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017
6767,FERNANDO,ROMERO,HERRERA,4,9850,2019
5654,PABLO,ALONSO,GALLEGO,1,9850,2019
4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020
2232,RAMON,NAVARRO,LEON,1,9850,2016

In [2]:
archivo = open( 'junio.dat' , 'rt' , encoding = 'latin-1' )
print( archivo.readlines() )

['numero de trabajador, nombres, paterno, materno, horas extra, sueldo base, aÃ±o de ingreso\n', '2345,CARLOS,PEREZ,CASTILLO,0,9850,2017\n', '5754,ANGEL,GOMEZ,GARRIDO,1,9850,2020\n', '5345,JESUS,MARTIN,SANTOS,2,9850,2016\n', '3267,DAVID,JIMENEZ,LOZANO,2,9850,2017\n', '8765,PEDRO,RUIZ,GUERRERO,2,9850,2017\n', '5454,DANIEL,HERNANDEZ,CANO,3,9850,2018\n', '3456,ALEJANDRO,DIAZ,PRIETO,2,9850,2018\n', '3445,MARIA,MORENO,MENDEZ,1,9850,2018\n', '9088,ALBERTO,MU\x84OZ,CRUZ,1,9850,2017\n', '8877,RAFAEL,ALVAREZ,FLORES,2,9850,2017\n', '6767,FERNANDO,ROMERO,HERRERA,4,9850,2019\n', '5654,PABLO,ALONSO,GALLEGO,1,9850,2019\n', '4323,JORGE,GUTIERREZ,MARQUEZ,2,9850,2020\n', '2232,RAMON,NAVARRO,LEON,1,9850,2016']

In [3]:
class Array:
    def __init__( self, tam ):
        self.__tamanio = tam
        self.__data = [ 0 for x in range(self.__tamanio) ]

    def to_string( self ):
        info = " "
        for dato in self.__data:
            info = info + str(dato) + " | "
        return info

    def get_item( self , index ):
        return self.__data[index]

    def get_length( self ):
        return len( self.__data )

    def set_item( self , dato , index ):
        #hace falta revisar limites
        if index >= 0 and index < self.get_length():
            self.__data[index] = dato
        else:
            print( "Error: Indice fuera del rango" )
    
    def clear( self , dato ):
        self.__data = [ dato for x in range(self.__tamanio) ]

In [4]:
class Trabajador:
    def __init__( self , nt , nom , pat , mat , he , sb , ai):
        self.__numero_trabajador = nt 
        #asi para todos los atributos
        self.__nombre = nom
        self.__paterno = pat
        self.__materno = mat
        self.__horas_extra = he 
        self.__sueldo_base = sb
        self.__anio_ingreso = ai
    #aqui van todos los metodos de acceso 
    #(set numero de trabajador, get numero de trabajador )
    def set_numero_trabajador( self , nt):
        self.__numero_trabajador = nt 
    def get_numero_trabajador( self ):
        return self.__numero_trabajador
    
    def set_nombre( self , nom ):
        self.__nombre = nom
    def get_nombre( self ):
        return self.__nombre 

    def set_apellido_paterno( self , pat ):
        self.__paterno = pat
    def get_apellido_paterno( self ):
        return self.__paterno
    
    def set_apellido_materno( self , mat ):
        self.__materno = pat
    def get_apellido_materno( self ):
        return self.__materno
    
    def set_horas_extra( self , he ):
        self.__horas_extra = he 
    def get_horas_extra( self ):
        return self.__horas_extra

    def set_sueldo_base( self , sb ):
        self.__sueldo_base = sb 
    def get_sueldo_base( self ):
        return self.__sueldo_base

    def set_anio_ingreso( self , ai ):
        self.__anio_ingreso = ai 
    def get_anio_ingreso( self ):
        return self.__anio_ingreso

    def to_string( self ):
        return "Nombre: " + self.__nombre + " Sueldo: $" + str(self.calcular_sueldo_mensual())



    
    # metodos de uso general -> metodos que hacen calculos de la logica del negocio

    def calcular_sueldo_mensual( self ):
        anios = 2021 - self.get_anio_ingreso()
        sueldo = self.get_sueldo_base()
        # agregar horas extra
        sueldo += self.get_horas_extra() * 276.5 # sueldo = sueldo + 1
        #agregar prestación por antiguedad
        sueldo = sueldo + ( sueldo * anios * 0.03 )
        return sueldo 
    


    def calcular_antiguedad( self ):
        return 2021 - self.get_anio_ingreso()

emp = Trabajador( 2345 , 'CARLOS' , 'PEREZ' , 'CASTILLO' , 0 , 9850 , 2017 )
print( f"Sueldo base: ${emp.get_sueldo_base()} " )
print( f'Horas extra: {emp.get_horas_extra()}' )
print( f'Años de antiguedad: {emp.calcular_antiguedad()}' )
print( emp.to_string())

Sueldo base: $9850
Horas extra: 0
Años de antiguedad: 4
Nombre: CARLOS Sueldo: $11032.0

In [5]:
class NominaADT:
    def __init__( self , ruta_archivo ):
        #abrir el archivo y determinar en numero de empleados (14) -> num_emp
        archivo = open( ruta_archivo , 'rt' , encoding = 'latin-1' )
        empleados = archivo.readlines()
        del empleados[0]
        for index in range( len( empleados ) ):
            empleados[index] = empleados[index].strip().split(',')
            
        self.__data = Array( len(empleados) )
        cont = 0
        for emp in empleados:
            tmp = Trabajador( int(emp[0]) , emp[1] , emp[2] , emp[3] , int(emp[4]) , int(emp[5]) , int(emp[6]) )
            self.__data.set_item( tmp , cont )
            cont += 1

                                # nt . nom , pat , mat , he , sb . ai


    def calcular_sueldos( self ):
        for index in range( self.__data.get_length( )):
            print( self.__data.get_item(index).to_string() )
    
    def buscar_mas_antiguo( self ):
        #iterar y buscar en el Array el de mayor de antiguedad
        for i in range( self.__data.get_length( )):
            anios = self.__data.get_item(i).calcular_antiguedad()
            if anios >= 5:
                print( f'{self.__data.get_item(i).to_string()} es el empleado más antiguo con: {anios} años trabajando' )

    def buscar_menos_antiguo( self ):
    #iterar y buscar en el Array el de menor de antiguedad
        for index in range( self.__data.get_length( )):   
            anios = self.__data.get_item(index).calcular_antiguedad()

            if anios <= 1:
                print( f'{self.__data.get_item(index).to_string()} es el empleado menos antiguo con: {anios} años trabajando' )

ejemplo = NominaADT( 'junio.dat' )
ejemplo.calcular_sueldos()
ejemplo.buscar_mas_antiguo()
ejemplo.buscar_menos_antiguo()

Nombre: CARLOS Sueldo: $11032.0
Nombre: ANGEL Sueldo: $10430.295
Nombre: JESUS Sueldo: $11963.45
Nombre: DAVID Sueldo: $11651.36
Nombre: PEDRO Sueldo: $11651.36
Nombre: DANIEL Sueldo: $11640.655
Nombre: ALEJANDRO Sueldo: $11339.27
Nombre: MARIA Sueldo: $11037.885
Nombre: ALBERTO Sueldo: $11341.68
Nombre: RAFAEL Sueldo: $11651.36
Nombre: FERNANDO Sueldo: $11613.36
Nombre: PABLO Sueldo: $10734.09
Nombre: JORGE Sueldo: $10715.09
Nombre: RAMON Sueldo: $11645.475
Nombre: JESUS Sueldo: $11963.45 es el empleado más antiguo con: 5 años trabajando
Nombre: RAMON Sueldo: $11645.475 es el empleado más antiguo con: 5 años trabajando
Nombre: ANGEL Sueldo: $10430.295 es el empleado menos antiguo con: 1 años trabajando
Nombre: JORGE Sueldo: $10715.09 es el empleado menos antiguo con: 1 años trabajando